* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "DM Serif Display";
}

h2 {
  font-size: 45px;
  color: #000;
  font-weight: 200;
  margin-bottom: 5px;
  text-transform: capitalize;
}

h4 {
  color: #faa307;
  font-size: 18px;
  margin-top: 30px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
.restau-banner p,
.header-menu li,
.restau-footer p,
.restau-footer li {
  color: #bbb;
  font-family: "Reddit Sans";
  font-size: 16px;
  list-style: none;
  line-height: 1.5em;
  text-decoration: none;
}

.welcome-left p,
.header-of-offer p,
.header-of-gallery p,
.offer-card p {
  color: #6c757d;
  font-family: "Reddit Sans";
  font-size: 16px;
  padding: 10px 0;
  list-style: none;
  text-decoration: none;
  line-height: 1.5em;
}
/* START OF POP-UP*/

body.popup-is-active {
  overflow-y: hidden;
}
body.popup-is-active .pop-up {
  display: block;
}
.pop-up {
  background: rgba(0, 0, 0, 70%);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 1;
}

.popup-content {
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: #000;
  padding: 15px 10px;
  max-width: 800px;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  overflow: auto;
  border-radius: 5px;
}
.pop-up h2 {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.5em;
  margin-bottom: 20px;
}
.pop-up h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1em;
  font-family: "Reddit Sans";
  color: #6c757d;
  margin-bottom: 8px;
}
#close-btn {
  font-weight: 500;
  color: #fff;
  position: absolute;
  font-family: "Reddit Sans";
  background-color: #6c757d;
  font-size: 20px;
  padding: 0 7px;
  border-radius: 5px;
  border: none;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.pop-up input[name="buttonelement"] {
  color: #000;
  background-color: #f2e9e4;
  display: inline-block;
  margin-top: 30px;
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  border: #fff;
  font-family: "DM Serif Display";
  letter-spacing: 0.5px;
  border-radius: 10px;
}
input[name="buttonelement"]:hover {
  background: #fff;
  color: #000;
  text-decoration: underline;
}
.pop-up input[name="email"] {
  background-color: transparent;
  color: #000;
  padding: 5px 5px;
  width: 335px;
  font-size: 19px;
  font-weight: 400;
  border: none;
  font-family: "Reddit Sans";
  border: 0.8px solid #e5e5e5;
  text-align: left;
  line-height: 2em;
}

.pop-up label {
  font-size: 19px;
  color: #6c757d;
  line-height: 2em;
  font-weight: 500;
  text-align: left;
  font-family: "Reddit Sans";
}
.card-flex {
  display: flex;
  gap: 20px;
  padding: 10px 10px;
}
.card-left {
  width: 100%;
  background: #fff;
}
.card-right {
  width: 100%;
  max-height: 100%;
  height: 430px;
  background-image: url(food3.jpg);
  background-size: cover;
  background-position: center;
  background-color: #e9ecef;
  border-radius: 18px;
}
form {
  padding: 10px 10px;
}
/*END OF POP , START OF NAV BAR */
.restau-header {
  padding: 10px 0;
  color: #cccccc;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.logo {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
}
.menu-holder button {
  color: #000;
  font-size: 30px;
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  background-color: #ced4da;
}

.burger-icon {
  font-size: 24px;
  display: none;
  color: #fff;
  margin-bottom: 10px;
  transition: 1.5s;
}

.burger-icon:hover {
  color: #ccc;
}

.header-menu li:first-of-type {
  color: #fff;
}

.header-menu {
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 500;
  list-style: none;
  display: flex;
  gap: 40px;
}

.header-menu a {
  color: inherit; /* the closes parent that has given color*/
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.menu-holder {
  transition: 0.5s;
}

.menu-holder a:hover {
  color: #fff;
}
/*MAIN BANNER */

.restau-banner {
  background-image: url(restau.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 57%);
  padding: 170px 0;
  text-align: center;
}

.restau-banner h1 {
  font-size: 55px;
  color: #fff;
  margin-bottom: 15px;
  margin-top: 30px;
  text-transform: capitalize;
  opacity: 0%;
  animation: fadeDown 2s ease-in-out forwards;
  animation-delay: 2s;
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
.restau-banner p {
  margin-bottom: 35px;
  text-align: center;
}

.btn-1 {
  color: #fff;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  border: 2px solid #fff;
  text-transform: capitalize;
  transition: 0.5s;
  animation: bounce 4s ease-in-out infinite;
  transform-origin: center bottom;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-8px);
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8);
  }
  60% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-8px);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.btn-1:hover {
  color: #fff;
  background-blend-mode: overlay;
  background-color: rgba(255, 255, 255, 0.5);
}
/*left-right section */
.welcome {
  padding: 120px 0;
  background-color: #fff;
  color: #000;
}

.welcome h3,
.header-of-offer h3 {
  color: #6c757d;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: "Reddit Sans";
  font-size: 15px;
  font-weight: 300;
}

.welcome-flex {
  display: flex;
  gap: 70px;
}

.welcome-left {
  width: 50%;
}

.welcome-right {
  width: 50%;
  background-image: url(chef.jpg);
  background-size: cover;
  background-position: center;
}

.btn-2 {
  color: #6c757d;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
  text-decoration: none;
  display: inline-block;
  border: 2px solid #6c757d;
  text-transform: capitalize;
  transition: 0.5s;
}

.btn-2:hover {
  color: #fff;
  background-color: #000;
}
/*GRID SECTION */
.offer {
  background: #f5f5f5;
  padding: 100px 0;
}

.offer-grid-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
}

.offer-card {
  background: #fff;
  max-width: 100%;
  padding: 4px 4px 25px;
  box-shadow: #333;
}

.offer-card h3 {
  font-size: 23px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.offer-card .text-here {
  text-align: center;
  max-width: 250px;
  margin: auto;
}

.offer-card:nth-of-type(1) .image-here {
  height: 300px;
  max-width: 100%;
  background-image: url(food1.jpg);
  background-size: cover;
  background-position: center;
}

.offer-card:nth-of-type(2) .image-here {
  height: 300px;
  max-width: 100%;
  background-image: url(food3.jpg);
  background-size: cover;
  background-position: center;
}

.offer-card:nth-of-type(3) .image-here {
  height: 300px;
  max-width: 100%;
  background-image: url(food4.jpg);
  background-size: cover;
  background-position: bottom;
}

.btn-3 {
  color: #fff;
  background: #faa307;
  padding: 10px 18px;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 15px;
  text-decoration: none;
  display: inline-block;
  text-transform: capitalize;
  transition: 0.5s;
}

.btn-3:hover {
  color: #faa307;
  background-color: #fff;
  animation: bounce 1s forwards;
  transform-origin: center top;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

.header-of-gallery,
.header-of-offer {
  color: #495057;
  max-width: 635px;
  text-align: center;
  margin: auto;
}
.header-of-gallery,
.header-of-offer {
  margin-bottom: 15px;
}
/*Gallery*/
.gallery {
  padding: 100px 0;
  background: #fff;
}

.gallery-parent-grid {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 5px;
}

.gallery-card {
  background: #fff;
  box-shadow: #222;
}
/* FOOTER */
.restau-footer {
  background: #161a1d;
  padding: 100px 0;
  color: #fff;
}

.footer-parent-grid {
  display: grid;
  grid-gap: 80px;
  grid-template-columns: repeat(4, 1fr);
}

.column1 p {
  max-width: 650px;
}

.restau-footer h5 {
  font-size: 17px;
  margin-bottom: 15px;
  text-align: left;
  text-transform: uppercase;
}

.restau-footer ul {
  text-transform: capitalize;
}

.contact-logos-flex {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-logos {
  text-align: center;
  padding: 20px 0;
}

.social-logos i {
  color: #cccccc;
  font-size: 30px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 30px;
  transition: 0.5s;
}
.social-logos i:hover {
  color: #faa307;
}

/* Responsive */
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
  h2 {
    font-size: 40px;
  }
  .header-menu {
    gap: 20px;
  }
  .restau-banner {
    padding: 150px 0;
  }
  .restau-banner h1 {
    font-size: 50px;
    margin-bottom: 14px;
  }
  .welcome {
    padding: 100px 0;
  }
  .welcome-flex {
    gap: 40px;
  }
  .offer {
    padding: 95px 0;
  }
  .gallery {
    padding: 95px 0;
  }
  .restau-footer {
    padding: 95px 0;
  }
}
@media only screen and (max-width: 800px) {
  .burger-icon {
    display: block;
  }
  .menu-holder {
    display: none;
    height: 100%;
    width: 100%;
    background: #f5ebe0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  body.nav-is-open .menu-holder {
    display: block;
  }
  .header-menu {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .header-menu a {
    font-size: 35px;
    color: #000;
    margin-top: 30px;
  }
  .header-menu a:hover {
    color: #bbb;
    text-decoration: underline;
  }
  .header-menu a:hover {
    font-size: 30px;
    color: #000;
    text-decoration: underline;
  }
  .menu-holder button {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 38px;
  }
  .header-menu {
    gap: 14px;
  }
  .restau-banner {
    padding: 130px 0;
  }
  .restau-banner h1 {
    font-size: 48px;
    margin-bottom: 13px;
  }
  .welcome {
    padding: 100px 0;
  }
  .offer {
    padding: 90px 0;
  }
  .gallery {
    padding: 90px 0;
  }
  .restau-footer {
    padding: 90px 0;
  }
  .welcome-flex {
    gap: 50px;
    flex-direction: column;
  }
  .welcome-left {
    width: 100%;
  }
  .welcome-right {
    width: 100%;
    height: 400px;
  }
  .offer h3 {
    font-size: 18px;
  }
  .offer-card {
    box-shadow: #555;
  }
  .restau-footer h5,
  .restau-footer p,
  .restau-footer ul {
    text-align: center;
  }

  .restau-footer h5 {
    text-decoration: underline;
  }
  .footer-parent-grid {
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
  .card-flex {
    flex-direction: column;
  }
  .card-left {
    width: 100%;
    text-align: center;
  }
  .card-right {
    width: 100%;
    height: 250px;
    background-position: center;
  }
  .pop-up input[name="buttonelement"] {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 576px) {
  h2 {
    font-size: 35px;
  }
  .restau-banner {
    padding: 120px 0;
  }
  .restau-banner h1 {
    font-size: 45px;
    margin-bottom: 10px;
  }
  .welcome {
    padding: 100px 0;
  }
  .offer {
    padding: 90px 0;
  }
  .offer-grid-parent {
    grid-template-columns: repeat(1, 3fr);
    gap: 10px;
  }

  .gallery {
    padding: 90px 0;
  }
  .offer h3 {
    font-size: 20px;
  }
  .restau-footer {
    padding: 95px 0;
  }
  .offer-card:nth-of-type(3) .image-here {
    background-position: center;
  }
  .offer-card h4 {
    margin-top: 15px;
  }
  .btn-3 {
    margin-bottom: 13px;
  }
  .social-logos p {
    font-size: 14px;
  }
  .footer-parent-grid {
    grid-gap: 40px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 480px) {
  h2 {
    font-size: 35px;
  }
  .restau-banner {
    padding: 110px 0;
  }
  .restau-banner h1 {
    font-size: 43px;
    margin-bottom: 10px;
  }
  .welcome {
    padding: 95px 0;
  }
  .offer {
    padding: 90px 0;
  }
  .gallery {
    padding: 90px 0;
  }
  .restau-footer {
    padding: 90px 0;
  }
  .offer-card h4 {
    margin-top: 10px;
  }
  .btn-3 {
    margin-bottom: 10px;
  }
  .footer-parent-grid {
    grid-gap: 40px;
    grid-template-columns: repeat(1, 1fr);
  }
}
